<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876553951958-30jfgf7c5093nvmfg9vb5cm7cnm87h5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876553951958-30jfgf7c5093nvmfg9vb5cm7cnm87h5r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>876553951958-tid71596biuajl8b30hj9bj0kkgo2lfh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClHgUVFWWFURPlEWd6hy3A2TU-rWtIsek</string>
	<key>GCM_SENDER_ID</key>
	<string>876553951958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.topinup.user.NotificationService</string>
	<key>PROJECT_ID</key>
	<string>topinup-8be34</string>
	<key>STORAGE_BUCKET</key>
	<string>topinup-8be34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:876553951958:ios:ea840d16c8c30f82590777</string>
	<key>DATABASE_URL</key>
	<string>https://topinup-8be34-default-rtdb.firebaseio.com</string>
</dict>
</plist>
