<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876553951958-1rjgr0na2ongigrr2icnm98jcr1dn0d5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876553951958-1rjgr0na2ongigrr2icnm98jcr1dn0d5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>876553951958-tseg1r1vofu2f27c68ug4gh6nuohl1rj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClHgUVFWWFURPlEWd6hy3A2TU-rWtIsek</string>
	<key>GCM_SENDER_ID</key>
	<string>876553951958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.volgo.services</string>
	<key>PROJECT_ID</key>
	<string>topinup-8be34</string>
	<key>STORAGE_BUCKET</key>
	<string>topinup-8be34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876553951958:ios:4bc20b4bf94d8b09590777</string>
	<key>DATABASE_URL</key>
	<string>https://topinup-8be34-default-rtdb.firebaseio.com</string>
</dict>
</plist>